@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;400;600;900&display=swap');

/*!----------------RESET--------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Geologica', sans-serif;

}





/*!-------------HEADER---------------*/
header nav img {
    width: 60px;
    height: 60px;
}

/*!------------MAIN---------------*/
.hero {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    color: white;
    font-size: 60px;
}

.hero p {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;

}

.progamacion {
    width: 100%;
    height: calc(60vh - 70px);
    background-color: #ffc107;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.progamacion h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 5px;
}


.progamacion ul li {
    list-style-type: none;
    font-size: 17px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.clases h2 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.486);
    padding: 10px;
}

.clases h3 {
    text-align: center;
    margin: 10px;
}

.clases img {
    width: 244px;
    height: 350px;
}

.clases-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clases-contenedor div {
    width: 250px;
    height: 450px;
    border: 3px solid black;
    text-align: center;
    margin: 10px;
    transition: 2s;
}

.clases-contenedor div:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

.clases a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    font-size: 20px;
}

.fixed img {
    width: 50px;
    height: 50px;
}

.fixed {
    position: fixed;
    right: 50px;
    bottom: 50px;
}



/*!----------FOOTER--------------*/
footer {
    background-color: #ffc107;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    /*!USAR GRID EN EL FOOTER!*/
}

footer h2 {
    font-size: 15px;

}

footer img {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
}

footer iframe {
    width: 140px;
    height: 120px;
    margin: 2px;
    padding: 2px;
}

footer div a img {
    width: 50px;
    height: 50px;
    margin: 1px;
    padding: 1px;
}



/*!--------------Page Clases-------------*/
.carusel {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carusel img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.carusel h5 {
    color: white;
    font-size: 30px;

}

.carusel p {
    color: white;
    font-size: 20px;

}




/*!--------------Page Horarios-------------*/




/*!--------------Page Turnos-------------*/




/*!--------------Page Nosotros-------------*/
.nosotros {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url("../img/box.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros h2 {
    text-align: center;
    font-size: 60px;
    color: white;
    margin: 5px;
}

.descripcion {
    width: 100%;
    height: calc(70vh - 40px);
    background-color: #ffc107;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.descripcion h2 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.descripcion ul li {
    list-style-type: none;
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
}


.grid-galeria {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;
    object-fit: cover;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

.img-1 {
    grid-row: span 2;
}

/*!---------- MEDIA QUERY ---------!*/

@media screen and (max-width:1050px) {
    .progamacion h2 {
        width: 100%;
        font-size: 25px;
        margin: 5px;
    }

    .progamacion ul li {
        font-size: 15px;
        margin: auto;
    }


    .grid-galeria {
        width: 100%;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }

    .grid-item-2 {
        display: none;
    }

    .fixed {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .hero {
        width: 100%;
        height: calc(100vh - 50px);
    }

    .hero h2 {
        color: white;
        font-size: 50px;
    }

    .hero p {
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-align: center;

    }


    .progamacion h2 {
        width: 100%;
        font-size: 20px;
        color: rgb(0, 0, 0);
        margin: auto;
    }
}


@media screen and (max-width:700px) {
    .progamacion h2 {
        width: 100%;
        font-size: 18px;
        margin: 5px;
    }

    .progamacion ul li {
        font-size: 13px;
        margin: auto;
    }
}


@media screen and (max-width:500px) {
    .progamacion {
        display: none;
    }

    footer p{
        display: none;
    }

    footer iframe {
        display: none;
    }
}